
*{
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	box-sizing: border-box;
  }
  .body-about{
	background: linear-gradient(to right, #649173, #dbd5a4);
  }
  .navbar img{
	width: 200px;
	position: absolute; left: 20px; top: 20px;
  }
  .navbar ul{
	background: linear-gradient(to right, #dad299, #b0dab9);
	display: flex;
	justify-content: flex-end;
	padding: 50px 0;
  
  }
  .navbar ul li{
	list-style: none;
  }
  .navbar ul li a{
	color: #385241;
	font-weight: bold;
	text-decoration: none;
	margin: 0 25px;
	font-size: 17px;
  }
  .navbar ul li a:hover{
	color:  #f2709c;
  }

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  max-width: 1200px;
  width: 100%;
  
}

.text {
  flex: 1;
  padding: 20px;
  font-size: 25px;
  line-height: 1.6;
  color: #273a2d;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


  
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img img{
    width: 15em;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    margin-left: 50px;
}
.about-img img:hover {
    transform: translateY(-10px);
}
.about-content p{
    font-size: 25px;
    font-weight: 100;
    color: #273a2d;
    justify-content: center;
    margin: 150px;
    
}


.footer {
  background: #111;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
  }
